* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* outline: solid black 1px; */
}

.form-footer > div> a {
    text-decoration: none;
    color: #663AC4;
    font-size: 1.5rem;
}

body {
    display: flex;
    flex-direction: row;
    background-color: #DCB9E3;
    height:100%;
}

button {
    font-size: 1.5rem;
    border-radius: 50px;
    margin: 2vh 0 2vh 2vh;
    padding: 2vh 5vw;;
    background-color: #DCB9E3;
    color: #663AC4;
    border: solid #663AC4 2px;
    transition-duration: 500ms;
}

button:hover{
    background-color: #663AC4;
    color: #DCB9E3;;
    transition-duration: 250ms;
    box-shadow: 0 5px 3px 1px #000;
}

button:active{
    color: #663AC4;
    background-color: #DCB9E3;
    box-shadow: 0 0 0 0 #000;
    transition-duration: 250ms;
}

.hero-text {
    color: #201327;
    background-color: #DCB9E3;
    font-size: 2rem;
    font-weight: 600; 
    text-align: justify;
}

p {
    margin-left: 2vh;
    margin-right: 5vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

form {
    display: flex;
    color: #201327;
    background-color: #D0B0E3;
    position: relative;
    z-index: 1;
    
}

.form-body {
    box-shadow: 5px 5px 5px 0px #000;
    position: relative;
    z-index: 1;
}

.form-footer {
    color: #201327;
    background-color: #DCB9E3;
    display: flex;
    padding-top: 1vh;
    position: relative;
    z-index: 0;
    font-size: 2rem;
    font-weight: 600; 
    text-align: justify;
    margin-left: 2vw;
    margin-top: 1vh;
}

.form-container {
    background-color: #DCB9E3;
    height: 100vh;
}

label {
    color: #201327;
    margin-left: 0;
    font-size: 1.25rem;
    align-items: center;
    justify-content: center;
    margin: 0;
}

fieldgroup {
    font-weight: 600;
    height: 3vh;
    display: flex;
    margin: 0 1vw 1vh 1vw;
    justify-content: space-between;
    align-items: center;
}

.sidebar {
    background-image: url("../images/backgroundimage.jpg");
    background-position: center;
    background-size: cover;
    color: white;
    height: 100vh;
    width: 100vw;
}

.logo-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 20%;
    margin-top: 30vh;
    margin-bottom: auto;
    background-color: rgba(0, 0, 0, 0.2);
}

.logo-text {
    font-family: "Norse-Bold", sans-serif;
    font-size: 10vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 3vh;
}

legend {
    font-size: 2rem;
    font-weight: 600;
    margin: 2vh 0 2vh 2vh;
}

img {
    width: 10vh;
}

input {
    height: 1.5rem;
    border-radius: 10px;
    border: none;
    padding-left: 1vw;
    transition-duration: 250ms;
}

input:valid {
    border: solid 2px #663AC4;
}

input:focus {
    border: solid 2px #663AC4;
    box-shadow: 0 5px 3px 1px #000;
}

.input {
    display: inline-block;
    justify-content: center;
    align-items: center;
}


form {
    display: flex;
    flex-direction: column;
}

@font-face {
    font-family: "Norse-Bold";
    src: url("../fonts/Norse-Bold.otf") format("opentype");
    }

.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    }


.credit-text {
    text-align: center;
    margin-top: 45vh;
}

.credit-text > a {
    color: white;
    font-size: 1rem;

}